@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$mobile--resolution: 799px;
$medium--resolution: 800px;
$desktop--resolution: 1440px;

$profile--color: hsl(246, 80%, 60%);
$body--background: hsl(226, 43%, 10%);
$card--background: hsl(235, 46%, 20%);

$work--header--color: hsl(15, 100%, 70%);
$play--header--color: hsl(195, 74%, 62%);
$study--header--color: hsl(348, 100%, 68%);
$exercise--header--color: hsl(145, 58%, 55%);
$social--header--color: hsl(264, 64%, 52%);
$selfcare--header--color: hsl(43, 84%, 65%);

$card--hover--color: hsl(235, 45%, 61%);
$sub--content: hsl(236, 100%, 87%);

body {
  background-color: $body--background;
  color: #fff;
  font-family: "Rubik", sans-serif;
  width: 80%;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

.navbar__btn {
  background: none;
  background-color: none;
  border: none;
  color: white;
  font-size: 20px;
  &:hover {
    color: $card--hover--color;
  }
}
// setup background color
#work {
  background-color: $work--header--color;
}
#play {
  background-color: $play--header--color;
}
#study {
  background-color: $study--header--color;
}
#social {
  background-color: $social--header--color;
}
#exercise {
  background-color: $exercise--header--color;
}
#selfcare {
  background-color: $selfcare--header--color;
}

#wrapper {
  @media (max-width: $mobile--resolution) {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  @media (min-width: $medium--resolution) {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 1rem;
    margin: auto;
    margin-top: 200px;
  }
}

#profile--container {
  position: relative;
}

.profile {
  background-color: $profile--color;
  border-radius: 15px;
  position: absolute;
  @media (max-width: $mobile--resolution) {
    display: grid;
    grid-template-columns: 30% 50%;
    height: 15vh;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
  }

  @media (min-width: $medium--resolution) {
    display:grid;
    grid-template-rows:50% 50%;
    max-width: 100%;
    width: 100%;
    height: 20rem;;
  }
  &__img, #report, &__name{
    margin-left:1rem;
  }
  &__img {
    border: 3px solid #fff;
    border-radius: 50%;
    
    margin-top: 1rem;
    @media (min-width:$medium--resolution){
      width: 8rem;
    }
    @media (max-width:$mobile--resolution){
      max-width: 5rem;
    }
  }
  #report {
    color: $sub--content;
  }
}
.navbar {
  display: flex;
  @media (min-width: $medium--resolution) {
    flex-direction: column;
    margin-top: 19rem;
    height: 10rem;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  @media (max-width: $mobile--resolution) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10rem;

    height: 5rem;
  }
  border-radius: 15px;
  background-color: $card--background;
  width: 100%;
  &__btn {
    margin-left: 1rem;
  }
}
.card__container {
  width: 100%;
  @media (min-width: $medium--resolution) {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 10px;
  }
}
.card {
  max-width: 100%;
  width: 100%;
  height: 15rem;
  position: relative;
  &__header {
    overflow: hidden;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &__body {
    border-radius: 15px;
    background-color: $card--background;
    position: absolute;
    width: 100%;
    top: 2rem;
    &--title,
    .current__hour,
    .prev__hour {
      display: flex;
      flex-direction: row;
      margin-left: 1rem;
      margin-right: 1rem;
      align-items: center;
    }
    &--title {
      justify-content: space-between;
      align-items: center;
    }
    .prev__hour {
      color: $sub--content;
    }
    &:hover{
      background-color:$card--hover--color;
    }
  }
  
}
